<div class="dashboard-container min-h-screen">
  <p-toolbar class="dashboard-toolbar">
    <ng-template pTemplate="start">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-th-large text-2xl"></i>
        <span class="text-xl font-bold">Store Manager Dashboard</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-3">
        <span *ngIf="currentUser" class="text-sm">
          Welcome, {{ currentUser.firstName }} {{ currentUser.lastName }}
        </span>
        <p-button
          label="Logout"
          icon="pi pi-sign-out"
          (onClick)="logout()"
          severity="secondary"
          size="small"
        ></p-button>
      </div>
    </ng-template>
  </p-toolbar>

  <div class="dashboard-content p-4">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-4" *ngFor="let item of menuItems">
        <p-card class="dashboard-card h-full cursor-pointer" (click)="navigateTo(item.route)">
          <div class="flex flex-column align-items-center text-center gap-3">
            <div class="card-icon">
              <i [class]="item.icon + ' text-5xl'"></i>
            </div>
            <h3 class="m-0">{{ item.label }}</h3>
            <p class="text-600 m-0">{{ item.description }}</p>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
