/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
